.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;
}

.header-top {
    margin-bottom: 48px;
    margin-top: 19px;
}

.header_top-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header-logo {
    max-width: 173px;
    z-index: 11;
}

.header-logo img {
    width: 100%;
}

.header-logo img {
    width: 100%;
}



.nav-list {
    display: flex;
    gap: 4vh 40px;
}



.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
    background: transparent;

}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    background: var(--general_text);
    width: 30px;
    height: 3px;
    border-radius: 100px;
    transition: var(--transition);

}


.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;

}

.header-link {
    display: block;
    padding: 7px 0;
    position: relative;
    z-index: 1;
}

.header-link::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: var(--acent-color);
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}


.header-link:hover::before {
    visibility: visible;
    opacity: 1;
}

.body_opened-menu .burger-icon span {
    background: transparent;
}

.body_opened-menu .burger-icon span::before {
    transform: rotate(45deg);
    top: 0px;

}

.body_opened-menu .burger-icon span::after {
    transform: rotate(-45deg);
    bottom: 0px;

}


.hero {
    padding: 50px 0 140px;

}

.hero-inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    max-width: 519px;
}

.hero-date {
    color: rgb(177, 151, 179);
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero-date span {
    display: flex;
    align-items: center;

}

.hero-date span::after {
    content: '';
    background: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;

}

.hero-date span:last-child:after {
    content: none;
}

.hero-title {

    margin-bottom: 30px;
}

.hero-text {
    margin-bottom: 40px;
    max-width: 358px;
}

.hero-btn {
    max-width: 358px;

}


.hero_media {
    margin-right: 247px;
    position: relative;


}

.hero_media-control {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;
    bottom: calc(100% - 405px);
    left: calc(100% - 39px);


}

.hero_media-button {
    background-color: var(--acent-bg);
    border-radius: 50%;
    box-shadow: 0px 4px 20px #b8947e4d;
    width: 78px;
    height: 78px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;


}


.hero_media-button img {
    padding-left: 8.8%;
}

.hero_media-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--acent-color);
    border-radius: 50%;
    box-shadow: 0px 4px 20px 0px #b8947e4d;
    inset: 5px;
    opacity: 0;
    transition: var(--transition);
}

.hero_media-button:hover::before {
    opacity: 1;
}